<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
    {{ $style := resources.Get "css/style.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap" rel="stylesheet">
    <meta name="description" content="{{ .Site.Params.description }}">
    <link rel="icon" type="image/png" href="{{ "favicon.png" | relURL }}">
</head>
<body>
    <div class="container">
        <header>
            <div class="logo-container">
                {{ $logoMM := resources.Get "images/logo-mm.jpg" }}
                {{ if $logoMM }}
                    <img src="{{ $logoMM.RelPermalink }}" alt="Logo Media Mesures" class="site-logo">
                {{ end }}
                
                {{ $logoDanfoss := resources.Get "images/logo-danfoss.png" }}
                {{ if $logoDanfoss }}
                    <img src="{{ $logoDanfoss.RelPermalink }}" alt="Logo Danfoss" class="site-logo">
                {{ end }}
            </div>
            <h1>{{ .Site.Title }}</h1>
            <p>{{ .Site.Params.description }}</p>
        </header>

        <main id="content-area">
            {{ block "main" . }}{{ end }}
        </main>

        <footer>
            <p>&copy; {{ now.Format "2006" }} {{ .Site.Params.footer_text }}</p>
            <p class="generation-date">Page générée le {{ now.Format "02/01/2006 à 15:04" }}</p>
        </footer>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const main = document.getElementById('content-area');
            const children = Array.from(main.children);
            let currentSection = null;

            children.forEach(child => {
                if (child.tagName === 'H2') {
                    currentSection = document.createElement('section');
                    main.insertBefore(currentSection, child);
                    currentSection.appendChild(child);
                } else if (currentSection && (child.tagName === 'UL' || child.tagName === 'P')) {
                    currentSection.appendChild(child);
                }
            });
        });
    </script>
</body>
</html>
